* {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  color: #121212;
}

.page {
  font-size: 18px;
}

.container {
  margin: auto;
  padding: 0 164px;
}

.background_blue {
  background-color: #F9FDFD;
}

.big-font-size {
  font-size: 22px !important;
}

header {
  background-color: #9DDDD8;
}

.header-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #121212;
  padding: 28px 0;
}

.header-block_logo {
  font-family: 'Playfair Display', serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 32px;
}

.header-block_logo span {
  font-family: 'Playfair Display', serif;
  color: #aa0a0a;
  font-weight: bold;
  font-size: 18px;
  line-height: 32px;
}

.header-block_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-style: normal;
  font-weight: normal;
  line-height: 24px;
}

.header-block_item {
  padding-right: 32px;
  color: #121212;
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header-block_item:hover {
  opacity: 0.8;
}

.header-block_button {
  height: 48px;
  padding: 0 23.5px;
  color: #ffffff;
  background-color: #392B23;
  border-radius: 8px;
  border: none;
  font-size: 18px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header-block_button:hover {
  opacity: 0.8;
}

.main-block {
  padding: 164px 0 158px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-block_content h1 {
  font-family: 'Playfair Display', serif;
  font-style: normal;
  font-weight: bold;
  font-size: 44px;
  line-height: 59px;
}

.main-block_content .main-block_text {
  font-style: normal;
  font-weight: normal;
  line-height: 24px;
  width: 445px;
  padding-top: 30px;
}

.main-block_img img {
  width: 540px;
  height: 404px;
}

.main-block_circle-button {
  background-color: #cdc3b2;
  border: none;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: absolute;
  right: 165px;
  bottom: 50px;
}

.main-block_circle-button:hover {
  background-color: #a5906c;
}

.main-block_circle-button:hover .tooltiptext {
  visibility: visible;
}

.main-block_circle-button .tooltiptext {
  visibility: hidden;
  width: 150px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  bottom: -58px;
  right: 0;
  z-index: 1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 18px;
}

.function-block {
  padding: 120px 0;
}

.function-block_title {
  font-family: 'Playfair Display', serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;
  text-align: center;
  padding-bottom: 88px;
}

.function-block_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.function-block_content .function-block_item {
  width: 350px;
  min-height: 260px;
  background-color: #F9FDFD;
  margin-bottom: 40px;
  text-align: center;
}

.function-block_content .function-block_item img {
  padding-bottom: 30px;
}

.function-block_content .function-block_item h3 {
  font-family: 'Playfair Display', serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 32px;
  padding-bottom: 10px;
}

.function-block_content .function-block_item p {
  padding-bottom: 10px;
}

.security-block {
  padding: 164px 0 86px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.security-block_content h1 {
  font-family: 'Playfair Display', serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;
}

.security-block_content .security-block_text {
  font-style: normal;
  font-weight: normal;
  line-height: 24px;
  width: 540px;
  padding-top: 25px;
}

.security-block_button {
  height: 48px;
  padding: 0 45.5px;
  color: #ffffff;
  background-color: #392B23;
  border-radius: 8px;
  border: none;
  font-size: 18px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin-top: 40px;
}

.security-block_button:hover {
  opacity: 0.8;
}

.security-block_img img {
  width: 540px;
  height: 350px;
}

.scheme-block {
  padding: 172px 0 110px;
}

.scheme-block_title {
  font-family: 'Playfair Display', serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;
  padding-bottom: 40px;
}

.scheme-block_content {
  padding-top: 40px;
}

.scheme-block_content .scheme-block_item {
  padding: 0 30px 25px 0;
}

.scheme-block_content .scheme-block_item p {
  font-family: 'Playfair Display', serif;
  font-style: normal;
  font-weight: bold;
  line-height: 32px;
  width: 166px;
  padding-top: 10px;
}

.scheme-block_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.scheme-block_send {
  width: 30%;
  height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.scheme-block_mid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-top: 50px;
}

.scheme-block .scheme-block_line {
  width: 100px;
  height: 1px;
  background-color: #392b23;
  position: absolute;
  right: 42px;
  top: 176px;
}

.scheme-block .scheme-block_item_arrow {
  padding-top: 150px;
  padding-left: 50px;
  position: relative;
}

.scheme-block_receive {
  width: 30%;
  height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

footer {
  background-color: #373f41;
}

.footer-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 51px;
  padding-bottom: 44px;
}

.footer-block_logo {
  font-family: 'Playfair Display', serif;
  font-style: normal;
  font-weight: bold;
  line-height: 32px;
  color: #ffffff;
}

.footer-block_logo span {
  font-family: 'Playfair Display', serif;
  color: #aa0a0a;
  font-weight: bold;
  line-height: 32px;
}

.footer-block_text {
  font-style: normal;
  font-weight: normal;
  line-height: 24px;
  color: #ffffff;
  width: 920px;
  text-align: center;
}
/*# sourceMappingURL=style.css.map */